<li>
  <p><%= edit.description %>
    <small><%= link_to edit.user.name, edit.user %>
    <span class="time">
      <%= link_to "#{time_ago_in_words edit.edited_at} ago.", [object, edit] %>
      </small>
    </span>
  </p>
  
</li>