<li>
  <p><%= edit.description %>
    <span>Edited by <%= link_to edit.user.name, edit.user %> at </span>
    <span class="time">
    <small><%= link_to edit.edited_at.strftime("%Y-%m-%d %H:%M"), [object, edit] %>
    </small></span>
  </p>
  
</li>