<h3>Edit of <%= @idiom.title %> at 
  <%= @edit.edited_at.strftime("%Y-%m-%d %H:%M") %>
</h3>
<h6>Current Description</h6>
<p><%= @idiom.description %></p>

<h6>Old Description</h6>
<p><%= @edit.description %></p>