<% collection.each do |conversation| %>
  <li>
    <span class="conversation">
      <%= link_to (truncate conversation.last.body, length: 100), 
        [current_user, conversation.last] %>      
      <small><%= time_ago_in_words conversation.last.created_at %></small>
    </span>
  </li>
<% end %>