<%= content_for(:title) { "The greatest home page ever" } %>
<%= content_for(:sidebar) do %>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<% end %>

<div class="hero-unit">
  <h1>Learn to Program!</h1>
  <p>This is a site to help with bringing together information about how to
    effectively self-teach programming languages</p>
</div>

<span>PLACEHOLDER FOR RECENTLY EDITED SHIT</span>