#idioms {
  list-style: none;
}

textarea {
  height: 170px;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
}

.s { font-size: 0.8em; }
.m { font-size: 1.2em; }
.l { font-size: 1.8em; }

.comment, .tag {
  form {
    margin: 0;
    padding: 0;
    display: inline;
  }

  input {
    display: inline;
  }
  display: inline;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

#name {
  font-weight: italic;
  font-size: 75%;
}

#twitter {
  width: 100px;
  height: 100px;
}

.login_forms {
  display: inline;
  float: left;
  .logins {
    float: right;
  }
}


