#idioms {
  list-style: none;
}

textarea {
  height: 170px;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
}

.s { font-size: 0.8em; }
.m { font-size: 1.2em; }
.l { font-size: 1.8em; }

.comment, .tag {
  form {
    margin: 0;
    padding: 0;
    display: inline;
  }

  input {
    display: inline;
  }
  display: inline;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

#name {
  font-weight: italic;
  font-size: 75%;
}

#twitter {
  width: 100px;
  height: 100px;
}

.login_forms {
  display: inline;
  float: left;
  .logins {
    float: right;
  }
}

.redactor_editor {
  min-height: 400px;
}

.span5 {
  border: 2px solid #CEF2E0;
  padding: 2px;
  margin: 1px 3px 1px 0; 
  min-height: 600px;
  background: #f5fffa;
}

.span4 {
  border: 2px solid #cedff2;
  padding: 2px;
  margin-left: 2px;
  min-height: 400px;
  background: #f5faff;
}


